.bg {
	background: url('/resources/images/background-images-1.jpg') no-repeat;
	background-position: center;
	width: 100%;
}

.form-container {
	background: #ffffff;
	color: #808080;
	border: 1px solid #bbbbbb;
	padding: 10px 20px;
	margin-top: 18vh;
	-webkit-box-shadow: 1px 4px 26px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 4px 26px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 4px 26px 1px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}
