<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useGeneratedKeys" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="user" type="com.project.bookie.dto.user.User" />
		<typeAlias alias="books" type="com.project.bookie.dto.books.Books"/>
		<typeAlias alias="userAuth" type="com.project.bookie.security.UserAuth" />
		<typeAlias alias="userVO" type="com.project.bookie.security.UserVO" />
		<typeAlias alias="board" type="com.project.bookie.dto.board.Board"/>
		<typeAlias alias="bookCardBoard" type="com.project.bookie.dto.board.BookCardBoard"/>
		<typeAlias alias="comment" type="com.project.bookie.dto.comment.Comment"/>
		<typeAlias alias="reply" type="com.project.bookie.dto.reply.Reply"/>
		<typeAlias alias="interest" type="com.project.bookie.dto.interest.Interest"/>
	</typeAliases>
</configuration>
