#footerFont {
	color: #dadada;
}

#footerFont>div>h5>a {
	color: #b2b2b2;
}

#footerFont>div>h5>a:hover {
	color: #ffffff;
}

#footerBg {
	background: #1b262c;
	color: #ffffff;
}

.navbar-header {
	color: #dadada;
}

#myNavbar>ul>li>a {
	color: #dadada;
}

#myNavbar>ul>li>a:hover {
	color: #ffffff;
}

.navbar-inverse {
	background-color: #1b262c;
	color: #dadada;
}

.navbar-header>a {
	font-size: 30pt;
	font-family: cursive;
}

body {
	padding-top: 51px;
	background-color: #f9f7f7;
	font-family: Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic, 돋움, dotum,
		sans-serif;
}

.main-body {
	min-height: 1100px;
}

.dropdown-menu {
	background-color: #1b262c;
}

.dropdown-menu>li>a {
	color: #dadada;
}

a {
	color: #343434;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #0f4c75;
	text-decoration: none;
	cursor: pointer;
}

a:active {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

.qnaUl {
	list-style-type: decimal;
}

.qnaUl>li {
	font-size: 13pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 25px;
}

#searchButton {
	float: right;
	margin-top: 0;
	margin-bottom: 20px;
}

.loader {
    border: 10px solid rgba(255, 255, 255, 0.67);
    border-radius: 50%;
    position: absolute;
    /* 안에 돌아가는 색 */
    border-top: 10px solid rgba(50, 130, 184, 0.67);
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    z-index: 11;
    left: 47%;
    top: 60%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.black-box {
	height: 1100px;
    opacity: 0.3;
    position: absolute;
    width: -webkit-fill-available;
    background-color: #000000;
    z-index: 9;
}