#footerFont {
	color: #dadada;
}

#footerFont>div>h5>a {
	color: #b2b2b2;
}

#footerFont>div>h5>a:hover {
	color: #ffffff;
}

#footerBg {
	background: #1b262c;
	color: #ffffff;
}

.navbar-header {
	color: #dadada;
}

#myNavbar>ul>li>a {
	color: #dadada;
}

#myNavbar>ul>li>a:hover {
	color: #ffffff;
}

.navbar-inverse {
	background-color: #1b262c;
	color: #dadada;
}

.navbar-header>a {
	font-size: 30pt;
	font-family: cursive;
}

body {
	padding-top: 51px;
	background-color: #f9f7f7;
	font-family: Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic, 돋움, dotum,
		sans-serif;
}

.main-body {
	min-height: 1382px;
}

.dropdown-menu {
	background-color: #1b262c;
}

.dropdown-menu>li>a {
	color: #dadada;
}

a {
	color: #343434;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #0f4c75;
	text-decoration: none;
	cursor: pointer;
}

.qnaUl {
	list-style-type: decimal;
}

.qnaUl>li {
	font-size: 13pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 25px;
}

#searchButton {
	float: right;
	margin-top: 0;
	margin-bottom: 20px;
}