/*ckPhone.jsp*/
#ckPhoneFormBox {
	padding-top: 50px;
	width: 200px;
	height: 100px;
	margin: auto;
	text-align: center;
}

#ckPhoneFormBox #ckPhoneFormSubmit {
	margin-top: 10px;
}
/*certifForm.jsp*/
#certifFormBox {
	padding-top: 50px;
	width: 100%;
	height: 100%;
	text-align: center;
}

#certifFormBox>button {
	margin-top: 10px;
	margin-bottom: 70px;
}
/*getEmail.jsp*/
#getEmailBox {
	width: 400px;
	height: 100px;
	margin: 200px auto 200px auto;
	padding: 30px;
	border-radius: 7px;
	background: white;
	text-align: center;
}
/**/
.vertical {
	border-left: 1px solid black;
	height: 10px;
	left: 50%;
}

.d-inline {
	display: inline;
	width: 30px;
}

.form-group {
	margin-bottom: 0;
}

p {
	margin: 10px
}

.btn-default {
	background: #d2e4e2;
	border-color: #d2e4e2;
}

.btn-default:hover {
	background: #d5e1e0;
	border-color: #d5e1e0;
}

.btn-default:focus {
	background: #d5e1e0;
	border-color: #d5e1e0;
}

.bg {
	background: url('/resources/images/background-images-1.jpg') no-repeat;
	background-position: center;
	width: 100%;
}

/*로그인창*/
.form-container {
	background: #ffffff;
	color: #808080;
	border: 1px solid #bbbbbb;
	padding: 50px 60px;
	margin: 30% auto;
	-webkit-box-shadow: 1px 4px 26px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 4px 26px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 4px 26px 1px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}

a {
	text-decoration: none;
}

.boxSize {
	width: 300px;
	height: 35px;
}

.logInButton {
	width: 200px;
	height: 32px;
	margin-left: 55px;
}

.naver {
	background: #00e673;
	color: white;
	border: none;
	width: 300px;
	height: 50px;
	font-size: 18pt;
}

.kakao {
	background: #ffff00;
	border: none;
	width: 300px;
	height: 50px;
	font-size: 18pt;
}

.vertical {
	border-left: 1px solid black;
	height: 10px;
	left: 50%;
}

.d-inline {
	display: inline;
	width: 30px;
}

.form-group {
	margin-bottom: 0;
}

p {
	margin: 10px
}

.btn-default {
	background: #d2e4e2;
	border-color: #d2e4e2;
}

.btn-default:hover {
	background: #d5e1e0;
	border-color: #d5e1e0;
}

.btn-default:focus {
	background: #d5e1e0;
	border-color: #d5e1e0;
}
/*패스워드 수정*/
/*resetPwdSuccess.jsp*/
.resetPwdSuccess {
	text-align: center;
	margin: 100px auto 100px auto;
}
/*modifyPassword.jsp*/
.resetPwdForm {
	text-align: center;
	margin: 100px auto 100px auto;
}
/*findPassword.jsp*/
.findPassword {
	margin-top: 100px;
	text-align: center;
}

.findPasswordResult {
	border-radius: 6px;
	padding: 10px auto 10px auto;
	background: white;
}