.thumbnail a {
	text-decoration: none;
}

.img {
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	text-align: center;
	width: 100%;
	height: 300px;
}

.cap{
	font-family: "Bitstream Vera Sans Mono", Oblique;
	font-size: 23px;
	width:100%;
	height:70%;
	color:white;
	padding-top:35%;
	font-weight: bold;
}


.certification_result{
	margin:300px auto 300px auto;
}